---
- name: install ansible dev software
  package:
    name: "{{ ansible_development__software }}"
    state: present
  retries: 5
  delay: 2

- name: upgrade setuptools pip module
  pip:
    name: setuptools>=20.1.1
    state: present
    executable: pip3
  retries: 5
  delay: 2

- name: install pip modules
  pip:
    name: "{{ ansible_development__pip_module }}"
    state: present
    executable: pip3
  loop_control:
    loop_var: ansible_development__pip_module
  loop: "{{ ansible_development__pip_modules }}"
  retries: 5
  delay: 2

- name: Configure add /usr/local/bin to the PATH
  copy:
    dest: /etc/profile.d/local.sh
    content: export PATH=${PATH}:/usr/local/bin
    mode: 0755
